<div class="parent" style="overflow-x: hidden;" >
  <div class="formulario">

        <!-- main container -->
        <form class="child form" [formGroup]="form">

          <div class="p-2" style="margin-top: 10px;">
            <label for="states">Selecione o estado/bioma *: </label>
            <select class="select-state" name="states" formControlName="state" id="states">
              <option [value]="state" *ngFor="let state of states">{{ state }}</option>
            </select>
          </div>

          <div class="p-2">
            <label for="state_raw">Classe do solo: </label>
            <select class="select-soil" name="state_raw" formControlName="selectSoilClass" id="soilSelect">
              <option [value]="" selected></option>
              <option [value]="sc" *ngFor="let sc of soilClasses">{{ sc }}</option>
            </select>
          </div>


          <div class="p-2">
            <label for="textural">Classe Textural: </label>
            <select class="select-textural" style="margin-left: 10px !important; width: 10vw;" name="textural" formControlName="selectTexturalClass">
              <option [value]="" selected></option>
              <option [value]="tc" *ngFor="let tc of texturalClasses">{{ tc }}</option>
            </select>
          </div>

          <div class="d-flex justify-content-around ">
            <div>
              <ul class="lista">
                <div class="container1">
                    <li>
                        <label for="Silt">Silte (%)</label>
                        <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Silte (%)" formControlName="silt">
                    </li>

                    <li>
                        <label for ="Sand">Areia (%)</label>
                        <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Areia (%)" formControlName="sand">
                    </li>

                    <li>
                        <label for="Clay">Argila (%)</label>
                        <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Argila (%)" formControlName="clay">
                    </li>

                    <li>
                        <label for="Bulk Density">Densidade do solo (g/cm³)</label>
                        <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Densidade do solo (g/cm³)" formControlName="bulkDensity">

                    </li>

                    <li>
                        <label for="Organic Matter">Matéria orgânica (%)</label>
                        <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Matéria orgânica (%)" formControlName="organicMatter">
                    </li>

                    <li>
                        <label for="Total Porosity">Porosidade total (cm³/cm³)</label>
                        <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Porosidade total (cm³/cm³)" formControlName="totalPorosity">
                    </li>

                    <li>
                        <label for="Coarse Sand">Areia grossa (%)</label>
                        <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Areia grossa (%)" formControlName="coarseSand">
                    </li>

                    <li>
                        <label for="Fine Sand">Areia fina (%)</label>
                        <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Areia fina (%)" formControlName="fineSand">
                    </li>
                </div>

                <div class="container2">
                  <li>
                      <label for="sIndex">Índice S</label>
                      <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Índice" formControlName="sIndex">

                  </li>
                  <li>
                      <label for="Phosphor">Fósforo (cmolc/kg)</label>
                      <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Fósforo (cmolc/kg)" formControlName="phosphor">
                  </li>

                  <li>
                      <label for="sumOfBases">Soma de bases (cmolc/kg)</label>
                      <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Soma de bases (cmolc/kg)" formControlName="sumOfBases">
                  </li>

                  <li>
                      <label for="cec">CTC (cmolc/kg)</label>
                      <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="CTC (cmolc/kg)" formControlName="cec">
                  </li>

                  <li>
                      <label for="Specific Surface">Área específica</label>
                      <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Área específica" formControlName="ss">
                  </li>

                  <li>
                      <label for="Medium Sand">Areia Média (%)</label>
                      <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Areia Média (%)" formControlName="mediumSand">
                  </li>

                  <li>
                      <label for="Very Fine Sand">Areia muito fina (%)</label>
                      <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Areia muito fina (%)" formControlName="veryFineSand">
                  </li>

                  <li>
                    <label for="pH">pH</label>
                    <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="pH" formControlName="ph">
                </li>

                  <button class="btn btn-primary mt-5 btn-submit-desktop" type="submit"  (click)="onSubmit ()">Calcular</button>
                </div>


                <div class="container2">
                  <li>
                      <label for="Flex Point Of Swrc">Ponto de flexão CRA</label>
                      <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Ponto de flexão CRA" formControlName="flexPointOfSwrc">
                  </li>

                  <li>
                      <label for="veryCoarseSand">Areia muito grossa (%)</label>
                      <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Areia muito grossa (%)" formControlName="veryCoarseSand">
                  </li>

                  <li>
                      <label for="macroporosity">Macroporosidade (cm³/cm³)</label>
                      <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Macroporosidade (cm³/cm³)" formControlName="macroporosity">
                  </li>

                  <li>
                      <label for="Liquid Limits">Limite de liquidez (g/kg)</label>
                      <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Limite de liquidez (g/kg)" formControlName="liquidLimits">
                  </li>

                  <li>
                    <label for="Density of Particle">Densidade de partícula (g/cm³)</label>
                    <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Densidade de partícula (g/cm³)" formControlName="densityOfParticle">
                  </li>

                  <li>
                      <label for="Soil Organic Carbon">Carbono orgânico do solo</label>
                      <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Carbono orgânico do solo" formControlName="soilOrganicCarbon">
                  </li>
                  <li>
                    <label for="mesoporosity">Mesoporosidade (cm³/cm³)</label>
                    <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Mesoporosidade (cm³/cm³)" formControlName="mesoporosity">
                  </li>


                  <li>
                    <label for="Microporosity">Microporosidade (cm³/cm³)</label>
                    <input type="number" style="border-radius: 5px; padding: 5px;" placeholder="Microporosidade (cm³/cm³)" formControlName="microporosity">
                  </li>
                </div>
              </ul>

              <button class="btn btn-primary mt-3 btn-submit-mobile" type="submit"  (click)="onSubmit ()">Calcular</button>
            </div>



            <!-- resultados desktop -->
            <ng-container *ngIf="this.hasResult()">
              <div class="resultados-desktop">
                <h4 style="margin-left: 37.5%">Resultados</h4>
                <h5 id="capCampo" style="margin-top: 12%">
                  <div class="d-flex flex-row">
                    <span class="text-muted">Capacidade de Campo:</span>&nbsp;<b> {{ finalResult.value?.capacidadeDeCampo ? finalResult.value?.capacidadeDeCampo : 'Não encontrado'}} </b>
                  </div>
                  <div class="d-flex flex-row mt-4">
                    <span class="text-muted">Ponto de Murcha Permanente:</span>&nbsp;<b> {{ finalResult.value?.pontoDeMurcha ? finalResult.value?.pontoDeMurcha : 'Não encontrado' }} </b>
                  </div>
                </h5>
                <!-- warnings -->
                <div> </div>
              </div>
            </ng-container>
          </div>
        </form>

        <!-- resultados mobile-->
        <ng-container *ngIf="this.hasResult()">
          <div class="resultados-mobile">
            <h4 style="margin-left: 35%">Resultados</h4>
            <h5 id="capCampo" style="margin-top: 12%">
              <div class="d-flex flex-row justify-content-center">
                <span class="text-muted">Capacidade de Campo:</span>
              </div>
              <div class="d-flex flex-row justify-content-center mt-2">
                <b> {{ finalResult.value?.capacidadeDeCampo ? finalResult.value?.capacidadeDeCampo : 'Não encontrado'}} </b>
              </div>

              <div class="d-flex flex-row justify-content-center mt-4">
                <span class="text-muted">Ponto de Murcha Permanente:</span>
              </div>
              <div class="d-flex flex-row justify-content-center mt-2">
                <b> {{ finalResult.value?.pontoDeMurcha ? finalResult.value?.pontoDeMurcha : 'Não encontrado' }} </b>
              </div>

            </h5>
            <!-- warnings -->
            <div> </div>
          </div>
        </ng-container>
        <div class="logos " style="width: 95vw; height: 350px; ">
          <div class="logo-inside">
            <img src="assets/images/CS-UFSM.png" alt="logo" class="logo-img">
            <img src="assets/images/UFSM.png" alt="logo" class="logo-img">
            <img src="assets/images/logoSBG.png" alt="logo" class="logo-img">
            <img src="assets/images/LOGOBRUNA_1.png" alt="logo" class="logo-img-2-mobile">
          </div>
          <div class="logo-img-2-div" [ngClass]="this.hasResult() ? 'logo-img-2-div-hasResult' : 'logo-img-2-div-hasNoResult'">
            <img src="assets/images/LOGOBRUNA_1.png" alt="logo" class="logo-img-2-desktop">
          </div>
      </div>

</div>
