.lista {
    margin-top: 1.5%;
    display: flex;
    list-style: none;
    padding: 10px;
}

.container1, .container2 {
    display: flex;
    flex-direction: column;
}

li{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin:5px;
}

 input[type=text] {
    outline: none;
    border: none;
    border-radius: 8px;
    margin-bottom: 8px;
    margin-left: 5px;
    width: 100%;
    transition:  0.5s;
}

input[type=text]:focus {
    transition:  0.5s;
    font-size: 20px;
    background-color: rgb(189, 224, 255);
    border-radius: 5px;
}

.botao{

    padding: 1.2%;
    border: none;
    border-radius: 8px;


}.botao:hover{
    background-color: rgb(135, 162, 186);
    transition:  0.5s;
}
img{
    margin-left: 20px;
}

.select-state {
  margin-left: 12px !important;
  width: auto;
}

.select-soil {
  margin-left: 16px !important;
  width: 10vw;
}

.select-state {
  margin-left: 12px !important;
  width: 10vw;
}

.btn-submit-mobile {
  display: none;
}

.logo-inside {
  display: flex;
  justify-content: space-around;
}

.logo-img {
  width:13%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.logo-img-2-desktop {
  width: 25%;
  aspect-ratio: 2/1;
  object-fit: contain;
}

.logo-img-2-mobile {
  display: none;
}

.logo-img-2-div {
  position: absolute; top: 5%; right: -22%;
}
.logo-img-2-div-hasResult { right: -17.8%; }
.logo-img-2-div-hasNoResult { right: -29%; }

.resultados-desktop {
  display: block;
  height: 50vh; width: 30vw; padding: 20px; margin-top: 8vh; background-color: #f0ddd3; border-radius: .7vh;
}

.resultados-mobile { display: none; }

@media only screen and (max-width: 850px) {
  .lista {
    margin-top: 1.5%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
  }
  .container1 {
    display: flex;
    flex-direction: column;
  }

  .select-state {
    margin-left: 12px !important;
    width: 30vw !important;
  }
  .select-soil {
    margin-left: 16px !important;
    width: 40vw !important;
  }
  .select-textural {
    margin-left: 12px !important;
    width: 40vw !important;
  }

  .btn-submit-desktop {
    display: none;
  }
  .btn-submit-mobile {
    display: flex;
    margin-left: 33.5%;
  }

  .logos {
    display: flex;
    direction: row;
    justify-content: center;
    margin-top: 12%;
    margin-bottom: 5%;
  }
  .logo-inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo-img {
    width: 40%;
    aspect-ratio: 3/2;
    object-fit: contain;
  }
  .logo-img-2-mobile {
    display: flex;
    width: 40%;
    aspect-ratio: 3/2;
    object-fit: contain;
  }
  .logo-img-2-desktop {
    display: none;
  }
  .logo-img-2-div-hasResult { display: none;}
  .logo-img-2-div-hasNoResult {  display: none; }
  .logo-img-2-div {
    display: none;
  }

  .resultados-desktop {
    display: none;
  }

  .resultados-mobile {
    display: block;
    height: 50vh; margin-left: 2.5%; width: 95%; padding: 20px; margin-top: 8vh; background-color: #f0ddd3; border-radius: .7vh;
  }

}
