.lista {
    margin-top: 1.5%;
    display: flex;
    list-style: none;
    padding: 10px;
}

.container1, .container2 {
    display: flex;
    flex-direction: column;
}

li{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin:5px;
}

 input[type=text] {
    outline: none;
    border: none;
    border-radius: 8px;
    margin-bottom: 8px;
    margin-left: 5px;
    width: 100%;
    transition:  0.5s;
}

input[type=text]:focus {
    transition:  0.5s;
    font-size: 20px;
    background-color: rgb(189, 224, 255);
    border-radius: 5px;
}

.botao{

    padding: 1.2%;
    border: none;
    border-radius: 8px;


}.botao:hover{
    background-color: rgb(135, 162, 186);
    transition:  0.5s;
}
img{
    margin: 20px;
}
