<!-- "Clay (%) ", "Silt (%)", "Sand (%)","Bulk density (g/cm³)", "Organic matter (%)", "total porosity (cm³/cm³)",
    "Coarse Sand", "Fine Sand (%)", "Microporosity (cm³/cm³)", "Density of particle (g/cm³)", "Soil organic carbon",
    "Flex point of swrc", "Macroporosity (cm³/cm³)", "Clay + silt (%)", "Theta 6 (kPa)",
    "Liquid Limits (g/kg)", "Sand/clay (%)", "S index", "Phosphor (cmolc/kg)", "Soil porosity cm³/cm³", 
    "Plastic limits (g/kg)", "Sum of bases (cmolc/kg)", "CEC (cmolc/kg)", "Ss (m³/g)", "Medium sand (%)", 
    "Very fine sand (%)", "Theta 33 (kPa)", "Mesoporosity (cm³/cm³)", "Ph"
 -->

<div class="formulario">
    <form [formGroup]="form">


         <label for="estados">Selecione o estado *:</label>

        <select name="ewstados" id="estados" formControlName="state">
            <option value="RS">RS</option>
            <option value="SC">SC</option>
            <option value="PR">PR</option>
            <option value="SP">SP</option>
            <option value="RJ">RJ</option>
            <option value="MG">MG</option>
            <option value="ES">ES</option>
            <option value="MS">MS</option>
            <option value="MT">MT</option>
            <option value="GO">GO</option>
            <option value="DF">DF</option>
            <option value="BA">BA</option>
            <option value="SE">SE</option>
            <option value="AL">AL</option>
            <option value="PE">PE</option>
            <option value="PB">PB</option>
            <option value="RN">RN</option>
            <option value="CE">CE</option>
            <option value="PI">PI</option>
            <option value="MA">MA</option>
            <option value="TO">TO</option>
            <option value="PA">PA</option>
            <option value="AP">AP</option>
            <option value="RR">RR</option>
            <option value="AM">AM</option>
            <option value="AC">AC</option>


        </select>

        <div class="p-5" style="margin-top: 10px;">
          <label for="state_raw">Classe do solo: </label>
          <select name="state_raw" formControlName="selectSoilClass" id="soilSelect">
            <option [value]="" selected></option>
            <option [value]="sc" *ngFor="let sc of soilClasses">{{ sc }}</option>
          </select>
        </div>


        <div class="p-5" style="margin-top: 10px;">
          <label for="textural">Classe Textural: </label>
          <select name="textural" formControlName="selectTexturalClass">
            <option [value]="" selected></option>
            <option [value]="tc" *ngFor="let tc of texturalClasses">{{ tc }}</option>
          </select>
        </div>



        <ul class="lista">
            <div class="container1">
                <li>
                    <label for="silt">silt(%)</label>
                    <input type="number" placeholder="silt" formControlName="silt">
                </li>

                <li>
                    <label for ="sand">sand(%)</label>
                    <input type="number" placeholder="sand" formControlName="sand">

                </li>

                <li>
                    <label for="clay">clay(%)</label>
                    <input type="number" placeholder="clay" formControlName="clay">
                </li>

                <li>

                    <label for="bulkDensity">bulkDensity (g/cm³)</label>
                    <input type="number" placeholder="bulkDensity" formControlName="bulkDensity">

                </li>

                <li>

                    <label for="organicMatter">organicMatter(%)</label>
                    <input type="number" placeholder="organicMatter" formControlName="organicMatter">
                </li>

                <li>

                    <label for="totalPorosity">totalPorosity(cm³/cm³)</label>
                    <input type="number" placeholder="totalPorosity" formControlName="totalPorosity">

                </li>

                <li>

                    <label for="coarseSand">coarseSand(%)</label>
                    <input type="number" placeholder="coarseSand" formControlName="coarseSand">

                </li>

                <li>

                    <label for="fineSand">fineSand(%)</label>
                    <input type="number" placeholder="fineSand" formControlName="fineSand">

                </li>

                <li>

                    <label for="microporosity">microporosity(cm³/cm³)</label>
                    <input type="number" placeholder="microporosity" formControlName="microporosity">

                </li>

                <li>

                    <label for="densityOfParticle">densityOfParticle(g/cm³)</label>
                    <input type="number" placeholder="densityOfParticle" formControlName="densityOfParticle">

                </li>

                <li>

                    <label for="soilOrganicCarbon">soilOrganicCarbon</label>
                    <input type="number" placeholder="soilOrganicCarbon" formControlName="soilOrganicCarbon">

                </li>

                <li>

                    <label for="flexPointOfSwrc">flexPointOfSwrc</label>
                    <input type="number" placeholder="flexPointOfSwrc" formControlName="flexPointOfSwrc">

                </li>

                <li>

                    <label for="macroporosity">Macroporosity(cm³/cm³)</label>
                    <input type="number" placeholder="macroporosity" formControlName="macroporosity">

                </li>

                <li>

                    <label for="claySilt">Clay + Silt (%)</label>
                    <input type="number" placeholder="claySilt" formControlName="claySilt">

                </li>

                <li>

                    <label for="theta6">theta6 (kPa)</label>
                    <input type="number" placeholder="theta6" formControlName="theta6">

                </li>

                <li>

                    <label for="liquidLimits">liquidLimits(g/kg)</label>
                    <input type="number" placeholder="liquidLimits" formControlName="liquidLimits">

                </li>

            </div>

           <div class="container2">
                 <li>

                <label for="sandClay">sandClay(%)</label>
                <input type="number" placeholder="sandClay" formControlName="sandClay">

            </li>

            <li>

                <label for="sIndex">sIndex</label>
                <input type="number" placeholder="sIndex" formControlName="sIndex">

            </li>

            <li>

                <label for="phosphor">phosphor(cmolc/kg)</label>
                <input type="number" placeholder="phosphor" formControlName="phosphor">

            </li>

            <li>

                <label for="soilPorosity">soilPorosity(cm³/cm³)</label>
                <input type="number" placeholder="soilPorosity" formControlName="soilPorosity">

            </li>

            <li>

                <label for="plasticLimits">plasticLimits(g/kg)</label>
                <input type="number" placeholder="plasticLimits" formControlName="plasticLimits">

            </li>

            <li>

                <label for="sumOfBases">sumOfBases(cmolc/kg)</label>
                <input type="number" placeholder="sumOfBases" formControlName="sumOfBases">

            </li>

            <li>

                <label for="cec">cec(cmolc/kg)</label>
                <input type="number" placeholder="cec" formControlName="cec">

            </li>

            <li>

                <label for="ss">ss</label>
                <input type="number" placeholder="ss" formControlName="ss">

            </li>

            <li>

                <label for="mediumSand">mediumSand(%)</label>
                <input type="number" placeholder="mediumSand" formControlName="mediumSand">

            </li>

            <li>

                <label for="veryFineSand">veryFineSand(%)</label>
                <input type="number" placeholder="veryFineSand" formControlName="veryFineSand">

            </li>

            <li>

                <label for="theta33">theta33(kPa)</label>
                <input type="number" placeholder="theta33" formControlName="theta33">

            </li>

            <li>

                <label for="mesoporosity">mesoporosity(cm³/cm³)</label>
                <input type="number" placeholder="mesoporosity" formControlName="mesoporosity">

            </li>

            <li>

                <label for="ph">ph</label>
                <input type="number" placeholder="ph" formControlName="ph">

            </li>
           </div>
        </ul>

        <button type="submit" (click)="onSubmit()">Enviar</button>

      </form>

